<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>


        <h1>new</h1>

        <form method="POST" action="/new">
            <label for="">codprod</label>
            <input type="text" name="codprod" autocomplete="off" placeholder="Código de barras">
            <label for="">descricao</label>
            <input type="text" name="descricao" autocomplete="off" placeholder="Descrição">
            <label for="">preco</label>
            <input type="number" name="preco" autocomplete="off" placeholder="Preço">
            <button class="btn btn-primary mt-3">Enviar</button>

        </form>

    
</body>
</html>